<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Мой плакат"/>
    <meta property="og:description" content="Смотри, какой плакат я сделал!"/>
    <meta property="og:image" content="interact.reklama145.ru/{{ img_path_pre }}"/>
    <meta property="og:url" content="https://interact.reklama.ru"/>
    <title>Ваш Постер</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="image" href="{{ img_path }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/poster.css', ver='1') }}">
    <script>
        picPath = '{{ img_path }}'
    </script>
</head>
<body>
    <div class="header">
        <div class="logos">
            <a href="https://www.akarussia.ru"><img src="{{ url_for('static', filename='resources/icons/logo.png') }}" alt="" class="akar"></a>
            <a href="https://museumofads.ru"><img src="{{ url_for('static', filename='resources/icons/cva-white.png') }}" alt="" class="cva"></a>
        </div>
    </div>
    <div class="wrapper">
        <div class="left-part">
            <h1 class="info-vert">ТВОЙ<br>РЕКЛАМНЫЙ<br>ПЛАКАТ</h1>
            <div class="poster-img">
                <img src="#" id="poster-self" class="poster-self" alt="Poster Image">
            </div>
        </div>
        <div class="right-part">
            <h1 class="info-hor">ТВОЙ<br>РЕКЛАМНЫЙ<br>ПЛАКАТ</h1>
            <div class="share-block">
                <div class="center-div">
                    <img loading="lazy" src="{{ url_for('static', filename='resources/icons/share.png')}}" alt="">
                    <h1 class="share-text">Поделиться</h1>
                </div>
            </div>
        </div>
    </div>    
    <script src="{{ url_for('static', filename='js/poster.js')}}"></script>
</body>
</html>